* {
  margin: 0; 
  padding: 0; 
}


html {
  font-size: large;
}


html,
body {
  height: 95%;
}

body {
  width: 90%;
  min-width: 960px;
  margin: auto;
  padding: 20px;
  position: relative;
 }

h1 {
  color: blue;
}
