/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  }

img {
  vertical-align: bottom;
  border: 1px solid black;
  }
   
body {
  font-family: Verdana;
  width: 1280px; 
  margin: 1%; 
  text-align:left;
  border: 0px solid black;
  }
  
header {
  border: 1px solid black;
  }
